[user]
	name = anunayasri
	email = anunayasri@gmail.com
[alias]
	co = checkout
	ci = commit
	s = status
	b = branch
	hist = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[core]
	editor = vim
[commit]
	template = /home/anunaya/.gitmessage.txt
